<div class="container">
	<div class="col-sm-2">
		<%= image_tag "ruby.svg", class: "img-responsive", alt: "Cinque Terre", width: "250", height: "250" %>
	</div>
	<div class="col-sm-10">
		<h1>Bienvenue !</h1>
		<p>Bienvenue sur le blog officiel de l'entreprise GSB.</p>
		<p>Sur ce blog vous trouverez toutes les info concernant l'entreprise GSB.</p>
		<p>Les nouvelles news, les nouveaux médicaments qui seront produits et les nouvelles technologie
		de la société.</p>
		<hr>
		<small>Ce blog a était réalisé en <a href="https://www.ruby-lang.org/">Ruby</a> !</small><br>
		<small>Webmaster : <a href="mailto:guerin28.robin@gmail.com">guerin28.robin@gmail.com</a></small><br>
		<small>
			Développé grace au framework <a href="http://rubyonrails.org/">Ruby on Rails</a>
			par  <a href="mailto:guerin28.robin@gmail.com">Guerin Robin</a>
		</small>
	</div>
</div>
